#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}
table{
  box-shadow: 0.3em 0.3em 0.3em rgba(0,0,0,0.3);
  width:60em;
  border-radius: 5px;
  padding: 1em;
  margin: 1.5em;
  text-align: left;
border-bottom: 3px solid green;
}
th{
  background-color: green;
  color:white;
  text-align: center;
  padding:0.5em;
    
}
tr{
  box-shadow: 0.3em 0.3em 0.3em rgba(0,0,0,0.3);
  border: 2px solid black;
}
td{
  padding:0.5em;
  padding-left:4em;
    
}
.pagination{
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width:10em;
  gap:2em;
  margin-left:20em;
}
.pagination > button,p{
  background-color: green;
  font-weight: bold;
  font-size: medium;
  color:white;
  width: 15em;
}
.pagination > button:disabled {
  background-color: rgba(0, 128, 0, 0.5); 
  opacity: 0.6; 
  cursor: not-allowed; 
}

p{
  padding: 1em;
  padding-bottom: 1.5em;
  width:1em;
  height:0.7em;
  border-radius: 5px;
  border: 1px solid white;
 
}